.place__title{
    font-size: 72px;
    line-height: 76px;
    font-style: normal;
    font-weight: 900;
    padding: 0px;
    margin: 0px;
}

@media (min-width:320px) and (max-width:768px){
    .place__title{
        font-size: calc( (100vw - 320px)/(768 - 320) * (72 - 32) + 32px);
        line-height: calc( (100vw - 320px)/(768 - 320) * (76 - 35) + 35px);
    }
}

@media (min-width:320px) and (max-width:767px){
    .place__title{
        padding-left: 16px;
    }
}
