.photo-grid{
    margin: 92px 0px 0px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(284px, 1fr));
    gap: 18px;
    justify-items: center;
}

@media (min-width:320px) and (max-width:1024px){
    .photo-grid{
        padding-left: calc( (100vw - 320px)/(1024 - 320) * (48 - 16) + 16px);
        padding-right: calc( (100vw - 320px)/(1024 - 320) * (48 - 16) + 16px);
    }
}