.footer__copyright{
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    text-align: left;
    width: 100%;
    margin: 0%;
    padding: 0%;
}

@media (min-width:768px){
    .footer__copyright{
        font-size: 14px;
        line-height: 16px;
        
        /* align-self: flex-end; */
        width: 50%;
        text-align: right;
    }
}
