.cover__title{
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    margin: 0px;
    padding: 0px;
    max-width: 560px;
}

@media (max-width:1280px) {
    .cover__title{
        font-size: calc( (100vw - 320px)/(1280 - 320) * (72 - 32) + 32px);
        line-height: calc( (100vw - 320px)/(1280 - 320) * (76 - 35) + 35px);
    }
}